.blue {    
    width: 100%;
    top: 900px;
}

.emptiness {
    max-width: 550px;
}

.atoms {
    max-width: 550px;
    margin-top: 25px;
}

.second.photo {
    margin-top: -200px;
    margin-left: -30px;
}