body {
    background: url('../img/neo-positivism/ornament-blue-left.png');
    background-repeat: no-repeat;
    background-position-x: left;
    background-size: 621px 100%;    
    height: 1832px;
}

.layout {
    grid-template-columns: 1fr;
    row-gap: 40px;    
}

.blue-left {
    width: 621px;
    left: -130px;
    top: 0;
}

.blue-right {
    width: 188px;
    right: 0;
    top: 0;
}