:root {
  --indent: 50px;
  --font-size: 16px;
  --small-indent: 20px;
  --text-color: #fff;
  --date-color: #BFBFBF;
  --background-color: #343434;
  --hover-color: #52F2A8;
  --stroke-color: #0E34A0;
  --logo-even-stroke-color: #343434;
  --logo-odd-stroke-color: #fff;
}

/* Global Settings */
body {
  background-color: var(--background-color);
  font-size: var(--font-size);
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
}

h1, h3, h4, h5, h6 {
  margin: 0;
  color: var(--text-color);
  font-family: 'Playfair Display', 'serif';
}

h2 {
  margin: 0;
  color: var(--text-color);
  font-size: 28px;
  font-weight: 400;
  font-family: 'Montserrat', 'sans-serif';
}

/* Container */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 var(--indent);
}

/* Home page */
.home-page .ornament {
  position: absolute;
}

.home-page .blue {
  left: -430px;
  top: calc(100vh + 50px);
  width: 850px;
}

.home-page .green {
  left: 0;
  top: 2650px;
  width: 300px;
}

.home-page header {
  height: 100vh;
}

.home-page svg.logo {
  position: relative;
  width: 95%;
  height: 90%;
  margin: 0 auto;
}

.home-page svg.logo text {
  font: 15em/1 PlayFair Display;
}

.home-page svg.logo .text--line {
  font-size: 0.5em;
}

.home-page svg.logo .text-copy {
  fill: none;
  stroke: #343434;
  stroke-dasharray: 70% 7%;
  stroke-width: 3px;
  -webkit-animation: stroke-offset 9s infinite linear;
  animation: stroke-offset 9s infinite linear;
}

.home-page svg.logo .text-copy:nth-child(1) {
  stroke: var(--logo-odd-stroke-color);
  stroke-dashoffset: 7%;
}

.home-page svg.logo .text-copy:nth-child(2) {
  stroke: var(--logo-even-stroke-color);
  stroke-dashoffset: 14%;
}

.home-page svg.logo .text-copy:nth-child(3) {
  stroke: var(--logo-odd-stroke-color);
  stroke-dashoffset: 21%;
}

.home-page svg.logo .text-copy:nth-child(4) {
  stroke: var(--logo-even-stroke-color);
  stroke-dashoffset: 28%;
}

.home-page svg.logo .text-copy:nth-child(5) {
  stroke: var(--logo-odd-stroke-color);
  stroke-dashoffset: 35%;
}

@-webkit-keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}

@keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}

.home-page main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 550px 20px 550px;
      grid-template-columns: 550px 20px 550px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.home-page main .dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: var(--date-color);
}

.home-page main .dates p {
  margin-right: 20px;
  font-size: 15px;
}

.home-page main .dates .first-period {
  margin: 5px 5px 0 0;
  font-size: 20px;
}

.home-page main .dates .year {
  margin-top: 103px;
  width: 100px;
}

.home-page main .dates .year625 {
  margin-top: 67px;
}

.home-page main .dates .year1175 {
  margin-top: 75px;
}

.home-page main .dates .year1320, .home-page main .dates .year1571 {
  margin-top: 78px;
}

.home-page main .dates .second-period, .home-page main .dates .third-period, .home-page main .dates .fourth-period, .home-page main .dates .fifth-period {
  font-size: 20px;
  margin-top: 80px;
}

.home-page main .dates .third-period, .home-page main .dates .fourth-period {
  margin-top: 85px;
}

.home-page main .dates .year1920 {
  margin-top: 72px;
}

.home-page main .timeline {
  margin-top: 75px;
  position: relative;
  z-index: 2;
}

.home-page main .timeline circle {
  cursor: pointer;
}

.home-page main .ages {
  margin-left: 100px;
}

.home-page main .ages .medieval {
  margin-top: 980px;
}

.home-page main .ages .rebirth {
  margin-top: 340px;
}

.home-page main .ages .new-time {
  margin-top: 480px;
}

.home-page main .ages .modern-time {
  margin-top: 475px;
}

.home-page main .philosopher {
  position: relative;
  z-index: 5;
  width: 400px;
  margin-left: -105px;
  padding-left: 120px;
  padding-top: 20px;
  background-color: var(--background-color);
  display: none;
}

.home-page main .philosopher.hover {
  display: block;
  cursor: pointer;
}

.home-page main .philosopher h4 {
  font-size: 22px;
  font-weight: 400;
}

.home-page main .philosopher h4:hover {
  color: var(--hover-color);
}

.home-page main .philosopher.thales {
  margin-top: 50px;
}

.home-page main .philosopher.anaximander {
  margin-top: 190px;
}

.home-page main .philosopher.pythagoras {
  margin-top: 330px;
}

.home-page main .philosopher.leucippus {
  margin-top: 470px;
}

.home-page main .philosopher.philolaus {
  margin-top: 600px;
}

.home-page main .philosopher.aristotle {
  margin-top: 730px;
}

.home-page main .philosopher.posidonius {
  margin-top: 880px;
  padding-bottom: 20px;
}

.home-page main .philosopher.grossetest {
  margin-top: 90px;
}

.home-page main .philosopher.bacon {
  margin-top: 230px;
  padding-bottom: 50px;
}

.home-page main .philosopher.albert {
  margin-top: 100px;
}

.home-page main .philosopher.copernicus {
  margin-top: 230px;
}

.home-page main .philosopher.galilei {
  margin-top: 370px;
  padding-right: 20px;
}

.home-page main .philosopher.kepler {
  margin-top: 90px;
}

.home-page main .philosopher.descartes {
  margin-top: 220px;
}

.home-page main .philosopher.leibniz {
  margin-top: 360px;
}

.home-page main .philosopher.artificial-intelligence {
  margin-top: 220px;
}

.home-page main .philosopher.neo-positivism {
  margin-top: 90px;
  width: 500px;
}
